
body {
    font-family: Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}



.navbar {
    display:flex;
    justify-content: space-between;
    text-align: center;
    background-color:black;
    color: white;
    flex-direction: column;
}

.navbar-links ul {
        margin: 0;
        padding: 0;
        display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: inline-block;
}

.navbar-links li:hover {
    background-color: #455;
}



         

    
.menu {
    background-color:grey;
}






footer {
    background-color:green;
    color: black;
    padding: 10px;
    margin:0px;
    position:inherit;
}


.background-image {
    background-image: url(img/background.jpg);
    margin-top: -20px;
}

