
body {
    background-color:rgb(209, 27, 203);
    font-family: Geneva, Tahoma, sans-serif;
    color:black;
    margin: 0px;
    padding: 0px;
}

ul {
   background-color: black;
    list-style-type: none;
    padding: 5px;
    margin-top: 0px;
    }

    li {
        color: white;
        
        display: inline-block;
        padding: 10px;
        margin-left: 30px;
        
    }

    li a {
      
        width: 60px;
        color:white;
        text-decoration: none;
        }

        li a:hover {
            background-color:rgb(209, 27, 203);
            color: white;
            border:solid;
            border-radius: 0px;
            
            
        }

        li a:active {
            color: rgb(71, 69, 64);

        }

 
 


section {
    
    color: black;
    
  
}

footer {
    background-color:green;
    color: black;
    padding: 10px;
}



