li {
    background-color: red;
    list-style-type: none;


    
   }






body {
    background-color:rgb(209, 27, 203);
    font-family: Geneva, Tahoma, sans-serif;
    color:black;
    margin: 0px;
    padding: 0px;
}

ul {
   background-color: black;
    list-style-type: none;
    padding: 30px;
    margin-top: 0px;
    }

    li {
        color: white;
        background-color: black;
        display: inline-block;
        padding: 10px;
    }



section {
    background-color:blue;
    color: black;
    
  
}

footer {
    background-color:green;
    color: black;
    padding: 10px;
}



