
body {
    font-family: Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}



.navbar {
    display:flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(255, 241, 176, 0.8);
    flex-direction: column;
    position: fixed;
    padding: 0.5rem;
    width: 100%;
}

@media (min-width:768px) {
    .navbar {
        position:fixed;
        padding: 0.7rem;
    }
}

.navbar-links ul {
        margin: 0;
        padding: 0;
        display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: rgb(40, 191, 218);
    padding: 0.2rem;
    display: block;
}

@media (min-width:768px) {
    .navbar-links li a {
        font-size: xx-large;
        margin: 10px;
    }
}

.navbar-links li:hover {
    background-color: rgb(231, 98, 202);

}

.navbar-links li a:hover {
    color: white;
}

.background-image {
    background-image: url(img/background5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -27px;
    height: 65vh;
    
}

.background-image h1 {
    font-style: italic;
    text-align: center;
    color: rgb(231, 98, 202);
    font-size: 2rem;
    font-weight: 800;
    margin-right: 1rem;
    padding-top: 5rem;
    
}

@media (min-width:768px) {
    .background-image h1 {
        padding-top: 7rem;
    }
}

.background-image h2 {
    font-size: x-large;
    font-style: italic;
    color: rgb(231, 98, 202);
    font-weight: 800;
    text-align: center;
    margin-right: 1rem;
}

@media (min-width:768px){
    .background-image h2 {
        font-size: 50px;
    }
}

.bg-color1 {
    background-color: rgb(40, 191, 218);
    margin-top: -29px;
}

@media (max-width:320px) {
    .bg-color1 {
        height: 75vh;
        background-color: rgb(40, 191, 218);
        margin-top: -29px;
    }
}
    



.homemade-flavors {
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: rgb(231, 98, 202);
    text-decoration: underline;
}

 .ic-list {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    
    
}

.ic-list li {
    list-style: none;
    font-weight: 800;
    color: rgb(231, 98, 202);
    text-align: center;
    font-size: 2rem;
    padding-right: 2rem;
    line-height: 5rem;
    
}

@media (max-width:320px) {
    .ic-list li {
        line-height: 2.2rem;
    }
}

@media (min-width:768px) {
    .ic-list {
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
      
    }
}


@media (min-width:768px) {
    .ic-list li {
        text-align: center;
        width: 38vw;
       
    }
}


form .catering-form {
    display: block;
    max-width: 2000px;
    border: 4px solid rgb(231, 98, 202);
    padding: 2rem;
    

}

.catering-form div {
    width: 200px;
    margin:auto;
}

label {
    font-weight: bold;
}

input {
    margin: 0.9rem auto;
    padding: 5px;
    border: 2.5px solid rgb(231, 98, 202);
    
}

button {
    font-weight: bold;
    padding: 4px;
    border: 2px solid rgb(231, 98, 202);
}

button:hover {
    color: white;
    background-color: rgb(231, 98, 202);
    border-color:rgb(40, 191, 218);
}




footer {
    background-color: rgb(231, 98, 202);
    color: black;
    padding: 10px;
    margin:0px;
    position:inherit;
}


